<launch>
    <!--If this argument is true, then the robot will wait for the reader node
        to publish its first message before beginning to drive. -->
    <arg name="lock_on_start" default="False"/>

    <!--By default, the node will use the CNN model marked as best to steer.
        Enabling this makes it use the most recently generated model instead. -->
    <arg name="latest" default="False"/>

    <node pkg="controller" type="steering.py" name="steer" output="screen" >
        <param name="lock_on_start" value="$(arg lock_on_start)" />
        <param name="use_latest_model" value="$(arg latest)" />
    </node>


    <!-- Loads pedestrian/vehicle avoidance nodes if true. -->
    <arg name="avoid" default="False" />

    <group if="$(arg avoid)" >
        <node name="avoid_pedestrians" pkg="controller" type="detect_pedestrians.py" output="screen" />
        
        <!-- 
            <node name="avoid_vehicle" pkg="controller" type="detect_vehicle.py" output="screen" />
        -->
    </group> 


</launch>
